@import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: #00ff00 solid 1px; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: 0; */
  font-family: Roboto, sans-serif;
  font-size: 20px;
  /* background-color: #f5f5dc; */
  background-color: #121212;
  color: #e0e0e0;
  gap: 40px;
}

.btn-options {
  display: flex;
  gap: 30px;
}

.btn {
  /* padding: 10px 20px; */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #007bff; */
  background-color: #1e88e5;
  /* color: white; */
  color: #e0e0e0;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  /* background-color: #0056b3; */
  background-color: #1565c0;
}

/* .running-scores {
  display: flex;
} */

/* .results-container {
  display: flex;
} */

.reset-btn {
  width: 70px;
  height: 30px;
  background-color: #32cd32;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #4ae64a;
}
